body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height:100vh
}
.cardEstilo{
  width: 500px;
}
.divColor{
  background-color: blue;
  height:100px;
}
.cardGuardados{
  width: 200px;
  margin-top: 10px;
}